@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1e202f;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #001224;
    --foreground: #ededed;
  }
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
